os: osx
osx_image: xcode7.1
language: c
before_install:
  - brew rm ctags || true
  - brew rm universal-ctags || true
  - brew update
  - brew update
  #- brew upgrade
install:
  - case "${GF:?}" in "lucafavatella/core/global") brew install --HEAD universal-ctags/universal-ctags/universal-ctags;; esac
script:
  - case "${H?}" in "") brew install -v "${GF:?}" --with-universal-ctags --with-pygments;; "--HEAD") brew install -v "${H?}" "${GF:?}" --with-universal-ctags --with-pygments;; esac
  - brew audit "${GF:?}"
  - brew audit --strict --online "${GF:?}"
  - case "${H?}" in "") brew test -v "${GF:?}";; "--HEAD") brew test -v "${H?}" "${GF:?}";; esac
  - case "${H?}" in "") brew test    "${GF:?}";; "--HEAD") brew test    "${H?}" "${GF:?}";; esac
# matrix:
#   allow_failures:
#   fast_finish: true
env:
  #- GF="global" H=""
  #- GF="global" H="--HEAD"
  - GF="lucafavatella/core/global" H=""
  - GF="lucafavatella/core/global" H="--HEAD"
